<%= form_tag root_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :qs, params[:qs], class: "form-control", placeholder: "Search" %>
  </div>

  <div class="form-group">
    <%= submit_tag "Search", class: "btn btn-block btn-lg btn-success" %>
  </div>
<% end %>
